{% block sw_desktop %}
<div
    class="sw-desktop"
    :class="desktopClasses"
>
    <div
        v-if="isStaging"
        class="sw-staging-bar"
    >
        {{ $tc('global.sw-desktop.stagingBarText') }}
    </div>

    {% block sw_desktop_sidebar %}
    <sw-admin-menu v-if="!noNavigation" />
    {% endblock %}

    {% block sw_desktop_content %}
    <div class="sw-desktop__content">
        {% block sw_desktop_content_view %}
        <sw-error-boundary>
            <router-view />
        </sw-error-boundary>
        {% endblock %}
    </div>
    <sw-app-shop-id-change-modal
        v-if="shopIdCheck !== null"
        :shop-id-check="shopIdCheck"
        @modal-close="closeModal"
    />
    <sw-settings-services-grant-permissions-modal />
    <sw-settings-usage-data-consent-modal-data-provider v-if="feature.isActive('PRODUCT_ANALYTICS')" />
    {% endblock %}

    <sw-sidebar-renderer />
</div>
{% endblock %}
