<div class="sw-settings-usage-data-consent-modal-data-provider">
    <sw-settings-usage-data-consent-modal
        v-if="showConsentModal"
        :stored-store-data-consent="storeDataConsent"
        :stored-user-data-consent="userDataConsent"
    />
</div>
