{% block sw_mail_template_view_templates %}
<div class="sw-mail-template-view-templates">
    {% block sw_mail_template_view_templates_list %}
    <sw-mail-template-list ref="mailTemplateList" />
    {% endblock %}
</div>
{% endblock %}
