
###> shopwell/core ###
APP_ENV=prod
APP_URL=http://127.0.0.1:8000
APP_SECRET=5d5a7e1cf9f90bc09070f6c22ab26fb6
INSTANCE_ID=56e9e92374be8bc1d26bbd4cb40d734a
BLUE_GREEN_DEPLOYMENT=0
DATABASE_URL=mysql://root:root@localhost/shopwell
###< shopwell/core ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
# doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###

###> symfony/lock ###
# Choose one of the stores below
# postgresql+advisory://db_user:db_password@localhost/db_name
LOCK_DSN=flock
###< symfony/lock ###

###> shopwell/elasticsearch ###
OPENSEARCH_URL=http://localhost:9200
SHOPWELL_ES_ENABLED=0
SHOPWELL_ES_INDEXING_ENABLED=0
SHOPWELL_ES_INDEX_PREFIX=sw
SHOPWELL_ES_THROW_EXCEPTION=1
###< shopwell/elasticsearch ###

###> shopwell/storefront ###
PROXY_URL=http://localhost
SHOPWELL_HTTP_CACHE_ENABLED=1
SHOPWELL_HTTP_DEFAULT_TTL=7200
###< shopwell/storefront ###
