{% block sw_extension_my_extensions_listing_controls %}
<div class="sw-extension-my-extensions-listing-controls">
    {% block sw_extension_my_extensions_listing_controls_active_switch %}

    <mt-switch
        v-model="filterByActiveState"
        class="sw-extension-my-extensions-listing-controls__active-filter-switch"
        :label="$tc('sw-extension.my-extensions.listing.controls.labelActiveStateSwitch')"
    />
    {% endblock %}

    {% block sw_extension_my_extensions_listing_controls_sorting_select %}
    <mt-select
        v-model="selectedSortingOption"
        class="sw-extension-my-extensions-listing-controls__sorting-dropdown"
        small
        :options="sortingOptions"
    />
    {% endblock %}
</div>
{% endblock %}
