{% block sw_condition_value_content %}
<div class="sw-condition-time-range">
    {% block sw_condition_time_range_field_from_time %}
    <mt-datepicker
        v-model="fromTime"
        name="sw-field--fromTime"
        size="medium"
        date-type="time"
        required
        :config="datepickerConfig"
        :disabled="disabled || undefined"
        :placeholder="$tc('sw-datepicker.time.placeholder')"
    />
    {% endblock %}

    {% block sw_condition_time_range_field_to_time %}
    <mt-datepicker
        v-model="toTime"
        name="sw-field--toTime"
        size="medium"
        date-type="time"
        required
        :config="datepickerConfig"
        :disabled="disabled || undefined"
        :placeholder="$tc('sw-datepicker.time.placeholder')"
    />
    {% endblock %}

    {% block sw_condition_time_range_field_timezone %}
    <sw-single-select
        v-model:value="timezone"
        name="sw-field--timezone"
        :options="timezoneOptions"
        :disabled="disabled || undefined"
        show-clearable-button
    />
    {% endblock %}
</div>
{% endblock %}
