<div style="font-family:arial; font-size:12px;">
    Hello {{ customer.firstName }} {{ customer.lastName }},<br/>
    <br/>
    Your {{ shopName }} account password has been changed successfully. <br/>
</div>
