<ul class="sw-settings-usage-data-consent-check-list">
    <li>
        <mt-icon
            name="solid-check-circle"
            color="var(--color-icon-positive-default)"
            size="var(--scale-size-16)"
        />
        {{ $t('sw-settings-usage-data.consent-modal.promises.gdpr-compliant') }}
    </li>
    <li>
        <mt-icon
            name="solid-check-circle"
            color="var(--color-icon-positive-default)"
            size="var(--scale-size-16)"
        />
        {{ $t('sw-settings-usage-data.consent-modal.promises.securely-processed') }}
    </li>
    <li>
        <mt-icon
            name="solid-check-circle"
            color="var(--color-icon-positive-default)"
            size="var(--scale-size-16)"
        />
        {{ $t('sw-settings-usage-data.consent-modal.promises.no-third-party') }}
    </li>
</ul>