{% block sw_first_run_wizard_shopwell_domain %}
<div class="sw-first-run-wizard-shopwell-domain">
    <h3 class="headline">
        {{ $tc('sw-first-run-wizard.shopwellDomain.headline') }}
    </h3>
    <p
        class="message"
        v-html="$tc('sw-first-run-wizard.shopwellDomain.message')"
    ></p>

    <mt-switch
        v-model="createShopDomain"
        :label="$tc('sw-first-run-wizard.shopwellDomain.labelCreateDomain')"
    />

    <div v-if="createShopDomain">

        <mt-text-field
            v-model="newShopDomain"
            name="newShopDomain"
            validation="required"
            :label="'Shop domain'"
        />
        <mt-checkbox
            v-model:checked="testEnvironment"
            :label="$tc('sw-first-run-wizard.shopwellDomain.testEnvironment')"
        />
    </div>
    <div v-else-if="licenceDomains.length > 0">
        <mt-select
            v-model="selectedShopDomain"
            label="Shop domain"
            :options="domainOptions"
        />
    </div>
    <div
        v-if="domainError"
        class="sw-first-run-wizard-shopwell-domain__error"
    >
        <mt-banner
            :title="domainError.title"
            variant="critical"
        >
            {{ domainError.detail }}
        </mt-banner>
    </div>

    <sw-loader v-if="isLoading" />
</div>
{% endblock %}
