{% block sw_condition_value_content %}
<div class="sw-condition-date-range sw-condition__condition-value">
    {% block sw_condition_date_range_field_use_time %}
    <sw-single-select
        v-model:value="useTime"
        class="sw-condition-date-range__use-time"
        name="sw-field--useTime"
        size="medium"
        :options="selectValues"
        :disabled="disabled || undefined"
        :placeholder="$tc('global.sw-condition.condition.withTime')"
    />
    {% endblock %}

    {% block sw_condition_date_range_field_from_date %}
    <mt-datepicker
        v-model="fromDate"
        class="sw-condition-date-range__from-date"
        name="sw-field--fromDate"
        size="medium"
        required
        :date-type="isDateTime"
        :disabled="disabled || undefined"
        :placeholder="$tc('sw-datepicker.date.placeholder')"
    />
    {% endblock %}

    {% block sw_condiiton_date_range_field_to_date %}
    <mt-datepicker
        v-model="toDate"
        class="sw-condition-date-range__to-date"
        name="sw-field--toDate"
        size="medium"
        required
        :date-type="isDateTime"
        :disabled="disabled || undefined"
        :placeholder="$tc('sw-datepicker.date.placeholder')"
    />
    {% endblock %}

    {% block sw_condition_date_range_field_timezone %}
    <sw-single-select
        v-model:value="timezone"
        class="sw-condition-date-range__timezone"
        name="sw-field--timezone"
        :options="timezoneOptions"
        :disabled="disabled || undefined"
        show-clearable-button
    />
    {% endblock %}
</div>
{% endblock %}
