<div
    class="sw-settings-services-framed-icon"
    :style="`font-size: ${size}`"
>
    <div class="sw-settings-services-framed-icon__outer-frame sw-settings-services-framed-icon__frame">
        <div class="sw-settings-services-framed-icon__second-frame sw-settings-services-framed-icon__frame">
            <div class="sw-settings-services-framed-icon__inner-frame sw-settings-services-framed-icon__frame">
                <img
                    class="sw-settings-services-framed-icon__image"
                    alt=""
                    :src="imageUrl"
                >
            </div>
        </div>
    </div>
</div>